# VITE_APP_ENV puede ser development, test, production
VITE_APP_ENV=development

VITE_SITE_NAME="Plataforma de Interoperabilidad - My INFO v1"

VITE_PATH=""

VITE_BASE_URL="http://localhost:3000/api"
